* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#navigation > div {
    display: flex;
}

#navigation a {
    text-decoration: none;
    color: green;
    font-size: 30px;
}

input, select {
    display: block;
    margin: 15px 0px;
    font-size: 18px;
    padding: 2%;
}

form {
    border: 1px solid rgb(230, 230, 230);
    width: 400px;
    margin: 3% auto;
    padding: 3%;
}

#submitBtn {
    width: 70%;
    margin: auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 16px;
}

table, td, th{
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

th,td {
    padding: 15px;
}

thead>tr>th {
    background-color: teal;
    color: white;
}

#sortFilterBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}